{% extends "main.html" %}
{% block content %}
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    <title>ADMIN--DASHBOARD</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'userhome/images/favicon.ico' %}" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'userhome/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="{% static 'userhome/plugins/icofont/icofont.min.css' %}">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="{% static 'userhome/plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'userhome/plugins/slick-carousel/slick/slick-theme.css' %}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'userhome/css/style.css' %}">

</head>


<body background="{% static 'login/images/bg.jpg' %}" id="top">

    <!-- Slider Start -->
    <div class="mt-5"></div>
    <section class="mt-5">

 
    </section>
    <section class="mt-5 features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="feature-block d-lg-flex">
                        <div class="feature-item mb-5 mb-lg-0">
                            <div>
                                <div class="feature-icon mb-4 d-flex justify-content-center ">
                                    <i class="icofont-box"></i>
                                </div>
                                <span> New Pass Requests</span>
                                <h4 class="mb-3">New Requests</h4>
                                <a href="{% url 'newrequestadmin' %}" class="btn btn-main btn-round-full d-flex justify-content-center">Check for New Request</a>
                            </div>
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4 d-flex justify-content-center">
                                <i class="icofont-copy-invert"></i>
                            </div>
                            <span>Assign Passes to Authority</span>
                            <h4 class="mb-3">Assign Authority</h4>
                            <a href="{% url 'assignauthority' %}" class="btn btn-main btn-round-full d-flex justify-content-center">Assign To Authority</a>

                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4 d-flex justify-content-center">
                                <i class="icofont-list"></i>
                            </div>
                            <span>Create new Authority </span>
                            <h4 class="mb-3">Create Authority</h4>
                            <a href="{% url 'createauthority' %}" class="btn btn-main btn-round-full d-flex justify-content-center">Create Authority</a>
                        </div>
                        <!-- <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4 d-flex justify-content-center">
                                <i class="icofont-search-job"></i>
                            </div>
                            <span>Request Find</span>
                            <h4 class="mb-3">Request Find</h4>
                            <a href="{% url 'requestfind' %}" class="btn btn-main btn-round-full d-flex justify-content-center">Confirm Request Find</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>



    
    <!-- footer Start -->
     {% include 'footer.html' %}

    <!-- 
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="{% static 'plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'plugins/counterup/jquery.waypoints.min.js' %}"></script>

    <script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'plugins/google-map/map.js' %}"></script>
    <script
        src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap' %}"></script>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>

</body>

{% endblock %}