<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply For New Pass</title>
</head>
<body>
    <form>
        <div>
            <label>First Name</label>
            <input type="text" placeholder="First Name">
        </div>
        <div>
            <label>Last Name</label>
               <input type ="text" placeholder="Last name">
        </div>
        <div>
            <label>Contact</label>
            <input type="number" placeholder="Contact No.">
        </div>
        <div>
            <label>Email Id</label>
            <input type="email" placeholder="Email Id">
        </div>
        <div>
            <label>Address</label>
            <input type="text" placeholder="Address">
        </div>
        <div>
            <label>City</label>
            <input type="text" placeholder="City">
        </div>
        <div>
            <label>State</label>
            <input type="text" placeholder="State">
        </div>
        <div>
            <label>Date of Birth</label>
            <input type="date" placeholder="Date of Birth">
        </div>
        <div>
        <label>Start Date</label>
        <input type="date" placeholder="Start date">
        </div>
        <div>
            <label>Start Location</label>
            <input type="text" placeholder="Start Location">
        </div>
        <div>
            <label>End Location</label>
            <input type="text" placeholder="End Location">
        </div>
        <div>
            <label>Reason</label>
            <input type="text" placedholder="Reason">
        </div>
        <div>
            <label>Identity type</label>
            <input type="text" placeholder="Identity">
                </div>
                <div>
                    <label>Employee id</label>
                    <input type="text" placeholder="Employee id">
                </div>
                <div>
                    <label>Department</label>
                    <input type="text" placeholder="Department">
                </div>
                <div>
                    <label>Photo</label>
                    <input type="file" placeholder="Photo">
                </div>
        
    </form>
</body>
</html>
