{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>HOME</title>
   <link rel="icon" type="image/x-icon" href="{% static 'tab-logo.png'%}">
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" href="{% static 'index/css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'index/css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'index/images/fevicon.png' %}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'index/css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="{% static 'index/images/loading.gif' %}" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <!-- <a href=""><img src="{% static 'index/images/logo.png' %}" alt="#" /></a> -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <a href="{% url 'loginpage' %}">
                           <li class="login_btn" class="nav-item">
                              Login
                           </li>
                           </a>

                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->
   <!-- banner -->
   <section class="banner_main">
      <div class="container-fluid">
         <div class="row d_flex">
            <div class="col-xl-6 col-lg-6 col-md-6 ">
               <div class="text-bg">
                  <h1>ELECTRONIC PASS </h1>
                  <!-- <span>Free Multipurpose <br>
                     Responsive Landing<br> Page For </span> -->

               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 padding_lert2">

               <div class="text-img">
                  <figure ><img class="mt-5" style=" margin-right: 5px; border-radius: 35px;" src="{% static 'index/images/indexpage.png' %}" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end banner -->

   <!-- testimonial -->
   <div class="testimonial">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Testimonial</h2>
                  <p></p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                  <ol class="carousel-indicators">
                     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                     <li data-target="#myCarousel" data-slide-to="1"></li>
                     <li data-target="#myCarousel" data-slide-to="2"></li>
                     <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol>
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="container">
                           <div class="carousel-caption ">
                              <div class="row">
                                 <div class="col-xl-4 col-lg-4 col-md-12 margin_boot">
                                    <div class="test_box1">
                                       <figure><img src="{% static 'SG Pic.jpeg' %}" alt="#" /></figure>
                                       <h4> SHASHWAT GUPTA </h4>
                                    </div>
                                 </div>
                                 <div class="col-xl-8 col-lg-8 col-md-12">
                                    <div class="test_box">
                                       <i><img src="{% static 'index/images/te1.png' %}" alt="#" /></i>
                                       <p>It is a long established fact that a reader will be distracted by the readable
                                          content of a page when looking at its layout. The point of using Lorem Ipsum
                                          is that it has a more-or-less normal distribution of letters, as opposed to
                                          using 'Content here, content here', making it </p>
                                       <i class="flot_right"><img src="{% static 'index/images/te2.png' %}"
                                             alt="#" /></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row">
                                 <div class="col-xl-4 col-lg-4 col-md-12 margin_boot">
                                    <div class="test_box1">
                                       <figure><img src="{% static 'Ritu Pic.jpeg' %}" alt="#" /></figure>
                                       <h4> RITU SONI </h4>
                                    </div>
                                 </div>
                                 <div class="col-xl-8 col-lg-8 col-md-12">
                                    <div class="test_box">
                                       <i><img src="{% static 'index/images/te1.png' %}" alt="#" /></i>
                                       <p>It is a long established fact that a reader will be distracted by the readable
                                          content of a page when looking at its layout. The point of using Lorem Ipsum
                                          is that it has a more-or-less normal distribution of letters, as opposed to
                                          using 'Content here, content here', making it </p>
                                       <i class="flot_right"><img src="{% static 'index/images/te2.png' %}"
                                             alt="#" /></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row">
                                 <div class="col-xl-4 col-lg-4 col-md-12 margin_boot">
                                    <div class="test_box1">
                                       <figure><img src="{% static 'Rahul Pic.jpeg' %}" alt="#" /></figure>
                                       <h4> RAHUL VERMA </h4>
                                    </div>
                                 </div>
                                 <div class="col-xl-8 col-lg-8 col-md-12">
                                    <div class="test_box">
                                       <i><img src="{% static 'index/images/te1.png' %}" alt="#" /></i>
                                       <p>It is a long established fact that a reader will be distracted by the readable
                                          content of a page when looking at its layout. The point of using Lorem Ipsum
                                          is that it has a more-or-less normal distribution of letters, as opposed to
                                          using 'Content here, content here', making it </p>
                                       <i class="flot_right"><img src="{% static 'index/images/te2.png' %}"
                                             alt="#" /></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row">
                                 <div class="col-xl-4 col-lg-4 col-md-12 margin_boot">
                                    <div class="test_box1">
                                       <figure><img src="{% static 'Yashika.png' %}" alt="#" /></figure>
                                       <h4> YASHIKA PACHOLI </h4>
                                    </div>
                                 </div>
                                 <div class="col-xl-8 col-lg-8 col-md-12">
                                    <div class="test_box">
                                       <i><img src="{% static 'index/images/te1.png' %}" alt="#" /></i>
                                       <p>It is a long established fact that a reader will be distracted by the readable
                                          content of a page when looking at its layout. The point of using Lorem Ipsum
                                          is that it has a more-or-less normal distribution of letters, as opposed to
                                          using 'Content here, content here', making it </p>
                                       <i class="flot_right"><img src="{% static 'index/images/te2.png' %}"
                                             alt="#" /></i>
                                    </div>
                                 </div>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end testimonial -->

   <!--  footer -->
   <footer>
      <!-- <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="cont">
                     <h3>Free Multipurpose <br>
                        Responsive Landing Page 2019
                     </h3>
                     <p>Modern lighting fast & easily Customizable</p>
                     <a class="read_more" href="#">Get A Quote</a>
                  </div>
               </div>
            </div>
         </div> -->
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>© 2022 All Rights Reserved. Curfew E-Pass Management System</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
      </div>
   </footer>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="{% static 'index/js/jquery.min.js' %}"></script>
   <script src="{% static 'index/js/popper.min.js' %}"></script>
   <script src="{% static 'index/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'index/js/jquery-3.0.0.min.js' %}"></script>
   <script src="{% static 'index/js/plugin.js' %}"></script>
   <!-- sidebar -->
   <script src="{% static 'index/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'index/js/custom.js' %}"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>