{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'userhome/images/favicon.ico' %}" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'userhome/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="{% static 'userhome/plugins/icofont/icofont.min.css' %}">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="{% static 'userhome/plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'userhome/plugins/slick-carousel/slick/slick-theme.css' %}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'userhome/css/style.css' %}">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
{% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navigation navbar-light" style="background-color: #223A66;" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="{% static 'passlogo.png' %}" style="border-radius:30% ;" width="60px" alt="" class="img-fluid">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
            aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icofont-navigation-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarmain">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'index' %}">Home</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="" id="dropdown02" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{ user.first_name }} <i class="icofont-thin-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" href="{% url 'manageprofile' %}">User Profile</a></li>
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            Logout
                        </a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'logout_users' %}">Logout</a>
            </div>
        </div>
    </div>
</div>



{% block content %}


{% endblock %}

{% else %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card-body">
        <h2>You are authorised to access this page...</h2>
        <h5>Please login to access the page...</h5>
        <a class="btn btn-warning" href="{% url 'loginpage' %}">Login</a>
    </div>
</div>
{% endif %}



 <!-- Bootstrap core JavaScript-->
 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

 <!-- Core plugin JavaScript-->
 <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

 <!-- Custom scripts for all pages-->
 <script src="{% static 'js/sb-admin-2.min.js' %}"></script>