<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}" />
    <title>Card</title>
  </head>
  <body>
    <div class="card-container">
      <span class="pro">PENDING</span>
      <!-- <span class="pro-green">APPROVED</span> -->
      <img
        class="round"
        src="https://randomuser.me/api/portraits/women/79.jpg"
        alt="user"
      />
      <h3>Ricky Park</h3>
      <h6>reason</h6>
      <div class="buttons">
        <button class="primary">Accept</button>
        <button class="primary ghost">Deny</button>
      </div>
      <div class="skills">
        <h6>Personal Details</h6>
        <ul>
          <li>Email ID</li>
          <li>Address</li>
          <li>Contact Number</li>
          <li>City</li>
          <li>State</li>
          <li>Date of Birth</li>
          <li>Start Date</li>
          <li>Start Date</li>
          <li>Start Location</li>
          <li>End Location</li>
          <li>Start Date</li>
        </ul>
      </div>
    </div>
  </body>
</html>
