<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Pass</title>
</head>

<body>
    <form>
        <div>
            <label>First Name</label>
            <input type="text" placeholder="First Name">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" placeholder="Last name">
        </div>
        <div>
            <label>Contact</label>
            <input type="number" placeholder="Contact No.">
        </div>
        <div>
            <label>Email Id</label>
            <input type="email" placeholder="Email Id">
        </div>
        <div>
            <label>Address</label>
            <input type="text" placeholder="Address">
        </div>
        <div>
            <label>City</label>
            <input type="text" placeholder="City">
        </div>
        <div>
            <label>State</label>
            <input type="text" placeholder="State">
        </div>
        <div>
            <label>Date of Birth</label>
            <input type="date" placeholder="Date of Birth">
        </div>
        <div>
            <label>Photo</label>
            <input type="file" placeholder="Photo">
        </div>
        <div>
            <label>Update start location</label>
            <input type="text" placeholder="New Start location">
        </div>
        <div>
            <label>Update end location</label>
            <input type="text" placeholder="New End location">
        </div>
        <div>
            <label>Update Reason</label>
            <input type="text" placeholder="Reason">
        </div>

    </form>

</body>

</html>